.docItemContainer {
  margin: 0 auto;
  padding: 0 0.75rem;
}

@media (min-width: 997px) {
  .docItemCol {
    max-width: 75%;
  }

  .docItemContainer {
    max-width: 900px;
    padding: 0 2rem;
  }
}
